.genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 40px;
    margin-bottom: 30px;
}

.genres-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}