.genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.genres-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}