.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* Logo styling */
.logo {
  width: 346px;
  height: 346px;
}