.container {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical centering */
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
}

/* Logo styling */
.logo {
  width: 346px;
  height: 346px;
}