.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
}

.profile-picture-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f5e6d3;
  overflow: hidden;
}

.profile-picture-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: #8b5e3c 10px solid;
}