.recommendation-page {
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    overflow: hidden; /* prevent scrollbars when card flies out */
}