.registration-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    gap: 20px;
}

.name-container{
    display: flex;
    gap: 10px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.date-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.date-input {
  width: 50px;
  padding: 5px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #D1C7B7;
  outline: none;
  color: #2c2c2c;
  font-size: 15px;
  text-align: center;
}

.date-input:first-child {
  width: 60px; /* Wider for year */
}

.date-separator {
  font-size: 18px;
  color: #D1C7B7;
  padding: 0 2px;
}