.sign-in-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 50px;
    border: red 2px solid;
    box-sizing: border-box;
}

.sign-in-field-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}