.sign-in-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 30px;
    box-sizing: border-box;
}

.sign-in-field-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.forgot-password {
    
    color: #6B5E4A;
}