.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;;
    padding: 0 30px;
    gap: 20px; /* For debugging layout issues */
}
 
.code-inputs {
    display: flex;
    gap: 3px;
}

.code-input {
    text-align: center;
}