.custom-button{
    font-family: inherit;
    border-radius: 99px;
    font-size: 15px;
    font-weight: 600;
    padding: 18px 0;
    cursor: pointer;
    width: 90%;
}

.custom-button.secondary {
    background-color: transparent;
    border: 2px solid #2C2C2C;
    color: #2C2C2C;
}

.custom-button.primary {
    background-color: #8B5E3C;
    color: white;
    border: none;
}