.custom-button{
    font-family: inherit;
    border-radius: 99px;
    font-size: 15px;
    font-weight: 600;
    padding: 18px 0;
    
    width: 90%;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.custom-button.secondary {
    background-color: transparent;
    border: 2px solid #2C2C2C;
    color: #2C2C2C;
}

.custom-button.primary {
    background-color: #8B5E3C;
    color: white;
    border: none;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12); /* Drop shadow */
}

.custom-button.invalid-primary {
    background-color: #EBECEF;
    color: #828491;
    border: none;
}