.custom-button{
    font-family: inherit;
    background-color: transparent;
    border: 2px solid #2C2C2C;
    color: #2C2C2C;
    border-radius: 99px;
    font-size: 19px;
    font-weight: 560;
    padding: 18px 0;
    cursor: pointer;
}