.navigation-pane {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Fill the page width */
    max-width: 500px;
    box-sizing: border-box; /* Ensures padding doesn't cause overflow */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: #D1C7B7;
    border-radius: 10px 10px 0 0;
    z-index: 3;
}

.nav-icon {
    width: 40px;
    
    opacity: 50%;
    transition: opacity 0.2s ease;
}

.nav-icon.active {
  opacity: 100%;
}