.shelf-book {
    width: 80px;
    height: 130px;
    border-radius: 8px;
    
}

.cover {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.shelf-book.select-mode {
  position: relative;
  transition: transform 0.2s ease;
}

.shelf-book.selected {
  transform: scale(0.98);
}

.shelf-book.selected .cover {
  filter: brightness(0.8);
}

.selection-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #8B5E3C;
  color: white;
  font-size: 18px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  transition: background-color 0.2s ease;
  z-index: 1;
}

.shelf-book.select-mode:not(.selected) .selection-indicator {
  background-color: transparent;
}

.shelf-book.select-mode:not(.selected):hover {
    transform: scale(1.05);
}

.shelf-book.select-mode.selected .selection-indicator {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}